<nav>
    <ul>
        <li><a href="{{ path('#') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('#') }}" title="Mon Profil">Mon Profil</a></li>
        <li><a href="{{ path('#') }}" title="Se déconnecter">Se déconnecter</a></li>
    </ul>
</nav>